<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zscat.mallplus.ums.mapper.UmsMemberAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zscat.mallplus.ums.entity.UmsMemberAuth">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="id_number" property="idNumber"/>
        <result column="front_img" property="frontImg"/>
        <result column="reverse_img" property="reverseImg"/>
        <result column="status" property="status"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, name, id_number, front_img, reverse_img, status,
        note, create_time, update_time
    </sql>

    <select id="getAuthLists" resultType="com.zscat.mallplus.ums.entity.UmsMemberAuth">
        SELECT id, user_id, name, id_number, front_img, reverse_img, status,
        note, create_time, update_time from ums_member_authentication
         WHERE 1=1
        <if test="record.name!=null">
            and name like concat('%',#{record.name},'%')
        </if>
        <if test="record.idNumber != null">
            and id_number like concat('%',#{record.idNumber},'%')
        </if>
         ORDER BY create_time DESC

    </select>
</mapper>
